<div [@routerTransition]>
    <app-page-header [heading]="'Cadastro de usuario'" [icon]="'fa-edit'"></app-page-header>
    
    <div class="row justify-content-md-center">
            <div class="col-lg-4">
            <form #form="ngForm">
                <div [ngClass]="classCss" role="alert" *ngIf="message">
                    <strong>{{ message.text }}</strong>
                </div> 
                <div class="form-content">
                        <div [ngClass]="getFormGroupClass(nome.invalid, nome.dirty)">
                                <input 
                                    type="text"
                                    name="nome"
                                    [(ngModel)]="user.nome"
                                    class="form-control input-underline input-lg" 
                                    id="nome"
                                    #nome="ngModel" 
                                    placeholder="Nome"
                                    required>
                                <span class="help-block" *ngIf="nome.invalid && nome.dirty">Nome obrigatorio</span>
                            </div>

                    <div [ngClass]="getFormGroupClass(email.invalid, email.dirty)">
                        <input 
                            type="email"
                            name="email"
                            [(ngModel)]="user.email"
                            class="form-control input-underline input-lg" 
                            id="email"
                            #email="ngModel" 
                            placeholder="Email"
                            email>
                        <span class="help-block" *ngIf="email.invalid && email.dirty">Email invalido</span>
                    </div>

                    <div [ngClass]="getFormGroupClass(senha.invalid, senha.dirty)">
                        <input 
                            type="password" 
                            name="senha" 
                            [(ngModel)]="user.senha"
                            #senha="ngModel" 
                            class="form-control input-underline input-lg" 
                            id="senha" 
                            placeholder="Senha"
                            required >
                            <span class="help-block" *ngIf="senha.invalid && senha.dirty">Senha invalida</span>
                    </div>
                    <div [ngClass]="getFormGroupClass(grupos.invalid, grupos.dirty)">
                        <select 
                            options="options" 
                            show-search="true"
                            multiple 
                            [(ngModel)]="listaPerfil" 
                            id="listaPerfil" 
                            name="listaPerfil" 
                            #grupos="ngModel"
                            required>
                            <option value="" [ngValue]="undefined" disabled>Selecione</option>
                            <option value="ADMINISTRADORES">Administradores</option>
                            <option value="VENDEDORES">Vendedores</option>
                            <option value="VENDAS-CONSULTA">Consulta</option>
                            </select>
                            <span class="help-block" *ngIf="grupos.invalid && grupos.dirty">Perfil é obrigatório</span>
                    </div>
                </div>
                <button type="button" [disabled]="form.invalid" class="btn btn-primary" (click)="register()">Cadastrar</button>
                &nbsp;
            </form>
        </div>
    </div>
</div>
