<div [@routerTransition] style="margin-left: 20px;">
    <app-page-header [heading]="usuarioForm.get('nome').value === null ? 'Cadastro de usuario' : 'Alteração de usuario'" [icon]="'fa-edit'"></app-page-header>

    <div class="row justify-content-md-center">
        <div class="col-md-12" style="text-align: center">
                <form [formGroup]="usuarioForm" (ngSubmit)="register(usuarioForm.value)">
                    <div [ngClass]="classCss" role="alert" *ngIf="message">
                        <strong>{{ message.text }}</strong>
                    </div>
                <img src="assets/images/logo.png" height="40px" width="40px" class="user-avatar" />
                <div class="container col-md-4">
                    <mat-form-field>
                        <input  formControlName="nome" matInput placeholder="Nome">
                        <mat-error *ngIf="usuarioForm.get('nome').dirty && !usuarioForm.get('nome').valid && usuarioForm.get('nome').touched">
                            O nome é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" formControlName="email" matInput placeholder="Email">
                        <mat-error *ngIf="usuarioForm.get('email').dirty && !usuarioForm.get('email').valid && usuarioForm.get('email').touched">
                            O Email é <strong>obrigatório.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" formControlName="senha" matInput placeholder="Senha">
                        <mat-error *ngIf="usuarioForm.get('senha').dirty && !usuarioForm.get('senha').valid && usuarioForm.get('senha').touched">
                            A senha é <strong>obrigatória</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="grupos" placeholder="Perfil do Usuário" multiple>
                            <mat-option *ngFor="let grupo of listaPerfil" [value]="grupo">{{grupo.descricao}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="usuarioForm.get('grupos').dirty && !usuarioForm.get('grupos').valid && usuarioForm.get('grupos').touched">
                            O perfil é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <td colspan="2" style="margin-top: 5px">
                        <button mat-raised-button
                            [disabled]="usuarioForm.invalid" 
                            color="primary">Cadastrar</button>
                    </td>
                </div>
            </form>
        </div>
    </div>
</div>
