/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
  }
  
.container > * {
    width: 300px;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.mat-form-field {
    margin-top: 15px;
    margin-top: 5px;
  }