<div [@routerTransition]>
    <app-page-header [heading]="'Consultar produto'" [icon]="'fa-edit'"></app-page-header>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
    </mat-form-field>

    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> Sku </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
            </ng-container>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Descricao </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="subcategoria">
                <th mat-header-cell *matHeaderCellDef> Subcategoria </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria.descricao}} </td>
            </ng-container>
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria.categoriaPai.descricao}} </td>
            </ng-container>
            <ng-container matColumnDef="quantidadeEstoque">
                <th mat-header-cell *matHeaderCellDef> Estoque </th>
                <td mat-cell *matCellDef="let element"> {{element.quantidadeEstoque}} </td>
            </ng-container>
            <ng-container matColumnDef="valorUnitario">
                <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
                <td mat-cell *matCellDef="let element"> {{element.valorUnitario | currency:'BRL':true }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


    <!--
    <div class="row justify-content-md-center">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Código</label>
                    <input class="form-control" placeholder="Código do produto">
                </fieldset>

                <fieldset class="form-group">
                    <label>Nome</label>
                    <input class="form-control" placeholder="Nome do produto">
                </fieldset>

                <div class="form-group">
                    <label>Grupo de produto</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label>Valor unitário</label>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">R$</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </fieldset>

                <button type="reset" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
    -->
</div>